@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moi Oulu!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button class="btn btn-primary mt-5" onclick="javascript: alert('Moi!');">Klikkaa tästä!</button>

    <p>&nbsp;</p>

    <table class="table table-striped w-75">
        <thead>
            <tr>
                <th>Asiakas-id</th>
                <th>Nimi</th>
                <th>Kaupunki</th>
                <th>Maa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AspNewMvcDemo.Database.Customer asiakas in ViewBag.Asiakkaat)
            {
                <tr>
                    <td>@asiakas.CustomerId</td>
                    <td>@asiakas.CompanyName</td>
                    <td>@asiakas.City</td>
                    <td>@asiakas.Country</td>
                </tr>
            }
        </tbody>
    </table>


    @*
        <p>
            @ViewBag.Luku1
        </p>
        <p>
            @ViewBag.Nimi
        </p>

        @for (int i = 0; i < 10; i++)
        {
            <p>@i</p>
        }
    *@
</div>
